@import 'variables';
@import 'selectables';
@import 'vector-graphics';
@import 'background';

body,
main,
section {
  display: block;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-profile {
  max-height: 200px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 40px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 40px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 40px -7px rgba(0,0,0,0.75);
}

.center {
  text-align: center;
}

//==================
// Header formatting
.header {
  text-align: center;
  padding: 150px 25px 15px;
  color: $white;
  font-family: $lato;
  h1, h2 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  h1 {
    font-weight: 300;
    font-size: 64px;
  }
  h2 {
    font-weight: 300;
    font-size: 36px;
  }
}

//==========================
// Info section -- IMPORTANT
.info-page {
  padding-top: 30px;
  font-size: 15px;
  z-index: 1;
  background-color: $white;
  opacity: 100%;
  font-family: $lato;
  padding-bottom: 40px;
  h1, h2 {
    text-align: center;
  }
  h1 {
    margin: 0px 0px 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:before, &:after {
      flex-grow: 1;
      height: 1px;
      content: '\a0';
      background-color: $blue;
      position: relative;
      top: 1.0em;
      max-width: 80px;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  .text-cell {
    margin: auto;
    max-width: 600px;
    padding-top: 5px;
    justify-content: center;
    h2 {
      font-size: 20px;
      margin-bottom: 0px;
    }
    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 3px;
      font-weight: 300;
      text-align: center;
      color: $grey;
    }
    ul {
      display: inline-block;
    }
    .exp-edu {
      display: none;
    }
  }
  .img-cell {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    h2 {
      margin-top: 0px;
    }
    img {
      display: block;
      vertical-align: middle;
      max-width: 300px;
      height: auto;
      margin: auto;
      padding: 10px;
    }
    .text-area {
      display: block;
      vertical-align: middle;
      flex-basis: 400px;
      margin: 20px;
      max-width: 500px;
    }
    &-left {
      flex-wrap: wrap-reverse;
    }
    &-right {
      flex-wrap: wrap;
    }
  }
  .description {
    font-size: 15px;
    margin: auto;
    max-width: 600px;
  }
}

//====================
// Footer Section
footer {
  color: $white;
  text-align: center;
  padding: 30px;
  span{
    color: $pink;
  }
}

@import 'resizables'