$blue: #2196F3;
$white: #ffffff;
$red: #FF2119;
$grey: #3D3D3D;
$pink: #ff9393;

$lato: 'Lato', sans-serif;

body,
main,
section {
  display: block;
}

//=========================
//Buttons, links, and pills
.btn {
  background-color: none; /* Green */
  border-radius: 5px;
  border: none;
  color: $blue;
  border: 1px $white solid;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  &:hover {
    color: $red;
    border: 1px $red solid;
  }
  &-outline {
    border: 1px $blue solid;
  }
}

.link {
  color: $blue;
  font-size: 16px;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  text-decoration: none;
  &:hover {
    color: $red;
  }
  &-inv {
    color:$white;
    &:hover {
      color: $pink;
    }
  }
}

.btngroup {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0px;
  line-height: 1;
  $white-space: nowrap;
  display: inline;
  justify-content: right;
  &--btn {
    font-size: 40px;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid $blue;
    color: $blue;
    border-left-width: 0;
    display: inline-block;
    padding: .5em 1.25em;
    outline: 0;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    
    &:first-child {
      border-left-width: 1px;
      border-radius: 2em 0 0 2em;
    }
    
    &:last-child {
      border-radius: 0 2em 2em 0;
    }
    
    &:hover {
      background: $white;
      color: $red;
    }
  }
}

.img-profile {
  max-height: 200px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 40px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 40px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 40px -7px rgba(0,0,0,0.75);
}

.center {
  text-align: center;
}

.link-pill {
  text-align: center;
  justify-content: right;
  padding: 10px;
}

//========================
// Drawing vector graphics
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 60px;
  li {
    width: 20%
  }
  ul {
    align-content: center;
    overflow: auto;
    width: 100%;
  }
}

.skill {
  -webkit-flex-basis: 80px;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  svg {
    stroke: $blue;
    stroke-width: 1px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 6s linear forwards;
    animation: draw 6s linear forwards;
  }
  &:nth-child(1) svg {
    -webkit-animation-delay: .6s;
    animation-delay: 0s;
  }
  &:nth-child(2) svg {
    -webkit-animation-delay: .6s;
    animation-delay: 0.6s;
  }
  &:nth-child(3) svg {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  &:nth-child(4) svg {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  &:nth-child(5) svg {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
  }
  &:nth-child(6) svg {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

// =========================
// Moving background squares
body {
  z-index: 0;
  background-color: $blue;
  margin: 0;
  position: relative;
  min-width: 320px;
  color: $grey;
  font: 300 14px/1.7 Roboto, "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

body:after,
body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, .05);
  -webkit-animation: background 90s linear infinite;
  animation: background 90s linear infinite;
}

body:after {
  z-index: -1;
  left: 15vw;
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse
}

body:before {
  z-index: -2;
  right: 15vw;
}

@-webkit-keyframes background {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes background {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

//==================
// Header formatting
.header {
  text-align: center;
  padding: 150px 25px 15px;
  color: $white;
  font-family: $lato;
  h1, h2 {
    opacity: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  h1 {
    font-weight: 300;
    font-size: 64px;
  }
  h2 {
    font-weight: 300;
    font-size: 36px;
  }
}

//==========================
// Info section -- IMPORTANT
.info-page {
  font-size: 15px;
  z-index: 1;
  background-color: $white;
  opacity: 100%;
  font-family: $lato;
  padding-bottom: 40px;
  h1, h2 {
    text-align: center;
  }
  h1 {
    padding-top: 30px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:before, &:after {
      flex-grow: 1;
      height: 1px;
      content: '\a0';
      background-color: $blue;
      position: relative;
      top: 1.0em;
      max-width: 80px;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
  .text-cell {
    margin: auto;
    max-width: 600px;
    padding-top: 5px;
    justify-content: center;
    h2 {
      font-size: 20px;
      margin-bottom: 0px;
    }
    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 3px;
      font-weight: 300;
      text-align: center;
      color: #777;
    }
    ul {
      display: inline-block;
    }
    .exp-edu {
      display: none;
    }
  }
  .img-cell {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    img {
      display: block;
      vertical-align: middle;
      max-width: 300px;
      height: auto;
      margin: auto;
      padding: 10px;
    }
    .text-area {
      display: block;
      vertical-align: middle;
      flex-basis: 400px;
      margin: 20px;
      max-width: 500px;
    }
    &-left {
      flex-wrap: wrap-reverse;
    }
    &-right {
      flex-wrap: wrap;
    }
  }
  .description {
    padding-top: 30px;
    font-size: 15px;
    margin: auto;
    max-width: 600px;
  }
}

//====================
// Footer Section
footer {
  color: $white;
  text-align: center;
  padding: 30px;
  span{
    color: $pink;
  }
}

//==============================
// Handling smaller screen sizes
@media (max-width: 639px) {
  .header {
    h1 {
      font-size-adjust: auto;
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
  }
  .info-page {
    padding: 1vmax 3vmax;
  }
}

@media (max-width: 449px) {
  .img-gallery {
    max-width: 100px;
  }
  .header {
    padding: 0 25px 45px;
    h1 {
      font-size-adjust: auto;
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
  }
  .skill-list {
    margin-top: 20px;
  }
  .info-page {
    padding: 1vmax 3vmax;
    h1 {
      font-size-adjust: auto;
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
  }
}