body,
main,
section {
  display: block; }

.btn {
  background-color: none;
  /* Green */
  border-radius: 5px;
  border: none;
  color: #2196F3;
  border: 1px #ffffff solid;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-timing-function: linear;
  transition-duration: 0.15s; }
  .btn:hover {
    color: #FF2119;
    border: 1px #FF2119 solid; }
  .btn-outline {
    border: 1px #2196F3 solid;
    margin: 10px; }

.link {
  color: #2196F3;
  font-size: 16px;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  text-decoration: none; }
  .link:hover {
    color: #FF2119; }
  .link-inv {
    color: #ffffff; }
    .link-inv:hover {
      color: #ff9393; }

.btngroup {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0px;
  line-height: 1;
  display: inline;
  justify-content: right; }
  .btngroup--btn {
    font-size: 20px;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #2196F3;
    color: #2196F3;
    border-left-width: 0;
    display: inline-block;
    padding: .5em 1.25em;
    outline: 0;
    transition-timing-function: linear;
    transition-duration: 0.15s; }
    .btngroup--btn:first-child {
      border-left-width: 1px;
      border-radius: 2em 0 0 2em; }
    .btngroup--btn:last-child {
      border-radius: 0 2em 2em 0; }
    .btngroup--btn:hover {
      background: #ffffff;
      color: #FF2119; }

.img-profile {
  max-height: 200px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 40px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 40px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 40px -7px rgba(0, 0, 0, 0.75); }

.center {
  text-align: center; }

.link-pill {
  text-align: center;
  justify-content: right;
  padding: 10px; }

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 60px; }
  .skill-list li {
    width: 20%; }
  .skill-list ul {
    align-content: center;
    overflow: auto;
    width: 100%; }

.skill {
  -webkit-flex-basis: 80px;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px; }
  .skill svg {
    stroke: #2196F3;
    stroke-width: 1px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 6s linear forwards;
    animation: draw 6s linear forwards; }
  .skill:nth-child(1) svg {
    -webkit-animation-delay: .6s;
    animation-delay: 0s; }
  .skill:nth-child(2) svg {
    -webkit-animation-delay: .6s;
    animation-delay: 0.6s; }
  .skill:nth-child(3) svg {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .skill:nth-child(4) svg {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .skill:nth-child(5) svg {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }
  .skill:nth-child(6) svg {
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
body {
  z-index: 0;
  background-color: #2196F3;
  margin: 0;
  position: relative;
  min-width: 320px;
  color: #3D3D3D;
  font: 300 14px/1.7 Roboto, "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif; }

body:after,
body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  -webkit-animation: background 90s linear infinite;
  animation: background 90s linear infinite; }

body:after {
  z-index: -1;
  left: 15vw;
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

body:before {
  z-index: -2;
  right: 15vw; }

@-webkit-keyframes background {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes background {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.header {
  text-align: center;
  padding: 150px 25px 15px;
  color: #ffffff;
  font-family: "Lato", sans-serif; }
  .header h1, .header h2 {
    margin-bottom: 0px;
    margin-top: 0px; }
  .header h1 {
    font-weight: 300;
    font-size: 64px; }
  .header h2 {
    font-weight: 300;
    font-size: 36px; }

.info-page {
  padding-top: 30px;
  font-size: 15px;
  z-index: 1;
  background-color: #ffffff;
  opacity: 100%;
  font-family: "Lato", sans-serif;
  padding-bottom: 40px; }
  .info-page h1, .info-page h2 {
    text-align: center; }
  .info-page h1 {
    padding-top: 30px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .info-page h1:before, .info-page h1:after {
      flex-grow: 1;
      height: 1px;
      content: '\a0';
      background-color: #2196F3;
      position: relative;
      top: 1.0em;
      max-width: 80px; }
    .info-page h1:before {
      margin-right: 10px; }
    .info-page h1:after {
      margin-left: 10px; }
  .info-page .text-cell {
    margin: auto;
    max-width: 600px;
    padding-top: 5px;
    justify-content: center; }
    .info-page .text-cell h2 {
      font-size: 20px;
      margin-bottom: 0px; }
    .info-page .text-cell h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 3px;
      font-weight: 300;
      text-align: center;
      color: #777; }
    .info-page .text-cell ul {
      display: inline-block; }
    .info-page .text-cell .exp-edu {
      display: none; }
  .info-page .img-cell {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 800px; }
    .info-page .img-cell img {
      display: block;
      vertical-align: middle;
      max-width: 300px;
      height: auto;
      margin: auto;
      padding: 10px; }
    .info-page .img-cell .text-area {
      display: block;
      vertical-align: middle;
      flex-basis: 400px;
      margin: 20px;
      max-width: 500px; }
    .info-page .img-cell-left {
      flex-wrap: wrap-reverse; }
    .info-page .img-cell-right {
      flex-wrap: wrap; }
  .info-page .description {
    font-size: 15px;
    margin: auto;
    max-width: 600px; }

footer {
  color: #ffffff;
  text-align: center;
  padding: 30px; }
  footer span {
    color: #ff9393; }

@media (max-width: 639px) {
  padding: inherit;
  .header {
    padding-top: 30px; }
    .header h1 {
      font-size-adjust: auto;
      font-size: 50px; }
    .header h2 {
      font-size: 40px; }

  .info-page {
    padding: 20px 15px; } }
@media (max-width: 449px) {
  .img-gallery {
    max-width: 100px; }

  .header {
    padding: 50px 25px 30px; }
    .header h1 {
      font-size-adjust: auto;
      font-size: 40px; }
    .header h2 {
      font-size: 30px; }

  .skill-list {
    margin-top: 20px; }

  .info-page {
    padding: 20px 15px; }
    .info-page h1 {
      font-size-adjust: auto;
      font-size: 30px; }
    .info-page h2 {
      font-size: 20px; } }

/*# sourceMappingURL=index.css.map */
